{% extends 'base.html' %}

{% block content %}
    <h2>Lecturer Management</h2>
    <a href="{% url 'lecturer_create' %}">Create New Lecturer</a>
    <table>
        <tr>
            <th>Username</th>
            <th>Department</th>
            <th>Specialization</th>
            <th>Actions</th>
        </tr>
        {% for lecturer in lecturers %}
        <tr>
            <td>{{ lecturer.user.username }}</td>
            <td>{{ lecturer.department }}</td>
            <td>{{ lecturer.specialization }}</td>
            <td>
                <a href="{% url 'lecturer_update' lecturer.pk %}">Edit</a> |
                <a href="{% url 'lecturer_delete' lecturer.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
